*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(212, 230, 247);
    
    
}
.head-container{
    position: sticky;
    top: 0;
    box-shadow: 5px 0 15px dimgray;
    
}
header{
    padding: 10px;
    text-align: center;
    background-color: rgb(187, 152, 196);
    font-weight: 600;
}
.page_title{
    font-size: 1.5rem;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(94, 156, 185);
    
}
nav a{
    color: rgb(233, 225, 212);
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(114, 119, 126);
    width: 200px;
    text-align: center;
    padding: 5px;
    border: solid 1.5px rgb(56, 55, 55);
    transition: ease .5s;
}
nav a:hover{
    box-shadow: 5px 0px 10px dimgray;
}
main{
    background-color: rgb(212, 230, 247);
}
main header{
    font-size: 1rem;
    height: 100%;
}
#books{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}
.book_product{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: rgb(18, 216, 216);
    padding: 50px;
    border-radius: 10px;
    border: 5px solid aqua;
    box-shadow: 0px 1px 15px rgb(179, 170, 170);
}
.book_product img{
    
    width: 150px;
    height: 200px;
    border: 3px solid white;

}
.book_data{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px dimgray;
    width: 50%;
    border-radius: 15px;
}
.book_title{
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
    padding: 5px 15px;
    width: 100%;
    text-wrap-mode: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book_data p{
    margin-left: 10px;
    width: 75%;
    text-wrap-mode: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

}
.details_link a{
    width: 50%;
    display: block;
    text-decoration: none;
    transition: ease .5s;
    padding: 8px;
    background-color: rgb(114, 119, 126);
    color: white;
    border-radius: 5px;
    
}
.details_link a:hover{
    margin-left: 20px;
    font-weight: 500;
    border-left: solid 5px white;  
    
}



/* add_book.html */


form{
    padding: 100px;
}
#inputs{
    box-sizing: border-box;
    padding: 10px;
    width: 400px;
    background-color: azure;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 3px 15px dimgray;
}
#inputs label{
    padding: 10px;
    width: 20%;
    display: inline-block;   
    text-align: center; 
    margin: 10px;
    font-weight:bolder;
}
#inputs input{
    box-sizing: border-box;
    width: 50%;
    height: 2rem;
    padding-left: 10px;
    border-left-width: 4px;
}
textarea{
    box-sizing: border-box;
    resize: none;
    width: 50%;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
    border-left-width: 4px;
    border-color: black;
}
#operations{
    width: 400px;
    display: flex;
    justify-content: space-around;
}
#operations input{

    width: 30%;
    height: 2rem;
    background-color: rgb(114, 119, 126);
    color: white;
    border: 1px rgb(59, 59, 59) solid;
    transition: .5s ease;
    border-radius: 5px;
    font-size: 15px;
    font-variant: small-caps;
}
#operations input[type='submit']{
    background-color: rgb(43, 77, 43);
    border-color: rgb(27, 129, 27);
}
#operations input:hover{
    box-shadow: 0 5px 10px rgb(116, 141, 141);
    scale: .99;
}


/* details.html */

.book_details_container{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.book_details{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: rgb(18, 216, 216);
    padding: 50px;
    border-radius: 10px;
    border: 5px solid aqua;
    box-shadow: 0px 1px 15px rgb(179, 170, 170);

}
.book_details img{
    height: 450px;
    width: 350px;
    border: 5px solid white;

}

.detailed_data{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0 0 15px 15px;
    overflow: auto;
}
.detailed_data p{
    margin-left: 10px;
    width: 75%;
    
}
.data_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 5px 5px 15px dimgray;
    border-radius: 15px;
}
.data_container .book_data{
    width: 100%;
    border-radius: 15px 15px 0 0;
    box-shadow: none;
    border: 1px black solid;
}
p.description{
    text-align: justify;
    text-wrap-style:stable;
}


/* store.html */
#store_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
#store{

    width: 800px;
}
#store td,th{
    border: 1px solid black;
    height: 2rem;
}

#bookIdColumn{
    width: 10%;
    text-align: center;
}
#bookTitleColumn{
    width: 60%;
    text-align: center;
}
#bookIsbnColumn{
    width: 20%;
    text-align: center;
}
#bookAmountColumn{
    width: 10%;
    text-align: center;
}
#store_operations{

    display: flex;
    justify-content: flex-end;
    width: 800px;
    margin-top: 20px;
}
#updateStoreButton{
    width: 10%;
    height: 1.5rem;
    background-color: rgb(114, 119, 126);
    color: rgb(233, 225, 212);
    border: none;
    transition: .25s ease;
}
#updateStoreButton:hover{
    scale: 1.02;
}